@use "sass:color";
@use "sass:map";
@use "@/styles/_global" as global;

$button-font-weight:600;
$text-shadow-blur:0.25px;

@mixin generate-solid($button-color){
    background-color: $button-color;
    color:global.contrastTextColor($button-color);
    -webkit-text-fill-color:global.contrastTextColor($button-color);
    border: solid 1px $button-color;
    border: solid 2px $button-color;
    font: $button-font-weight global.$font-size global.$font-stack;
    &:hover:not(.button--disabled){
        color: $button-color;
        -webkit-text-fill-color: $button-color;
        /*text-shadow: none;*/
        background-color: transparent;
        filter:brightness(1);
    }
    &.button--disabled{
        background-color: color.change($button-color,$saturation:0%);
        border: solid 1px color.change($button-color,$saturation:0%);
        color:global.contrastTextColor($button-color);
    }
}
@mixin generate-outline($button-color){
    color: $button-color;
    -webkit-text-fill-color: $button-color;
    border: solid 1px $button-color;
    border: solid 2px $button-color;
    font: $button-font-weight global.$font-size global.$font-stack;
    &:hover:not(.button--disabled){
        -webkit-text-fill-color:global.contrastTextColor($button-color);
        color: #000;
        background-color: $button-color;
        filter:brightness(1); 
    }  
    &.button--disabled{
        background-color: transparent;
        border: solid 1px color.change($button-color,$saturation:0%);
        color: color.change($button-color,$saturation:0%);
    }
}
@mixin generate-button($title, $button-color){
    .button--#{unquote($title)}--solid{
        @include generate-solid($button-color)
    }
    .button--#{unquote($title)}--outline{
        @include generate-outline($button-color)
    }
}
.button{
    all: unset;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding: 10px 42px;
    border-radius: 5px;
    margin:0;
    font: $button-font-weight global.$font-size global.$font-stack;
    letter-spacing: 0.5px;
    box-sizing:border-box;
    min-height: 50px;
    filter:brightness(1);
    transition: filter, background-color ease-in-out 0.15s;
    cursor:pointer;
    &:hover{
        filter:brightness(0.9);
    }
    &.button--circle{
        border-radius: 100%;
        border: none;   
        padding: 12px;
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3); 
        min-height: none;
    }
    &.button--round{
        border-radius:9999px;
        padding: 1%;
        &::after{
            content:"";
            display: block;
            padding-top: 100%;
        }
    }
    &.button--pill{
        border-radius:9999px;
    }
    &.button--block{
        width:100%;
    }
    &.button--multi{
        text-transform: uppercase;
        font-weight: bold;
    }
}
@each $current-color in map.keys(global.$color-map){
    @include generate-button($current-color, map.get(global.$color-map,$current-color));
}
