.toggle{
    all:unset;
    cursor: pointer;
    &--menu{
        span{
            width: 30px;
            height: 5px;
            background-color: #333;
            display: block;
            position: relative;
            opacity: 1;
            transition: transform 0.15s ease-in-out;
        }
        &.toggle--off span{
            margin: 5px 0;
        }
        &.toggle--on span{
            opacity: 0;
            &:first-of-type{
                transform: rotate(45deg);
                opacity: 1;
                top:10px;
            }
            &:last-of-type{
                transform: rotate(-45deg);
                opacity: 1;
                bottom: 0px;
            }
        }
    }
    &--input{
        width: 40px;
        background-color: #ccc;
        height: 20px;
        border-radius: 9999px;
        position: relative;
        transition: background-color 0.15s ease-in-out;
        span{
            display: none;
            position: absolute;
            background-color: #FFFFFF;
            top: 1px;
            transition: left 0.15s ease-in-out;
            &:first-of-type{
                display: block;
                height: 18px;
                width: 18px;
                border-radius: 100%;
            }
        }
        &.toggle--off span:first-of-type{
            left: 1px;
        }
        &.toggle--on {
            background-color: #00ff00;
            & span:first-of-type{
                left: unset;
                left: calc(100% - 19px);
            }
        }
    }
}