h1,h2,h3,h4,h5,h6,
.heading{
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	font-weight: 300;
	letter-spacing: 2px;
}
h1{
	font-size:4rem;
	letter-spacing: 5px;
}
h2{
	font-size:3rem;
	letter-spacing: 4px;
}
h3{
	font-size:2rem;
	letter-spacing: 3px;
}
.heading--thick{
	font-weight: 700;
}